In [6]:
import pandas as pd
import os

In [7]:
os.chdir('/home/emi/unipd/Sartori_CBSD/project/cbsdproject')

In [8]:
accounts = pd.read_excel('LabelledAccounts.xlsx', skiprows=1)
accounts.shape

(7889, 18)

In [4]:
accounts.head()

,Unnamed: 0,Twitter ID,User Name,Sex (M/F),SID 1,SID 2,SID 3,SID 4,SID 5,Unnamed: 9,Unnamed: 10,0,1,2,3,4,5,TASK
0,NaN,@marco_ssl,Marco_SSL,M,3.0,3,1.0,1,NaN,NaN,NaN,0.0,0.5,0.0,0.5,0.0,0.0,T2P3
1,NaN,@Mutaz53214,Mutaz,M,3.0,3,3.0,3,NaN,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,T2P3
2,NaN,@predieridanilo,predieri danilo,M,2.0,4,2.0,4,NaN,NaN,NaN,0.0,0.0,0.5,0.0,0.5,0.0,T2P3
3,NaN,@Loredan83532601,Loredana,F,1.0,1,3.0,3,NaN,NaN,NaN,0.0,0.5,0.0,0.5,0.0,0.0,T2P3
4,NaN,@FbCataldo,Giuseppe Cataldo ðŸ‡®ðŸ‡¹ #Bibbiano #iostoconicurdi,M,1.0,1,1.0,1,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,T2P3

In [5]:
accounts['Sex (M/F)'].unique()

array(['M', 'F', 'U', '-', nan, 'F?', '?', 'D', '\n', 'U\n', 'M\n', 'F\n',
       'M ', 'C', 'P', 'F ', '\nF', '\nM', 'U ', '.'], dtype=object)

There are a lot possible values for gender, we need to unify.

In [6]:
accounts['Sex (M/F)'].value_counts()

M      4710
F      2077
U      1001
-        72
M         5
M\n       3
\nM       3
C         3
U\n       2
\nF       2
D         1
F?        1
U         1
?         1
F         1
F\n       1
\n        1
P         1
.         1
Name: Sex (M/F), dtype: int64

## Nan Values

In [9]:
accounts.isna().any()

Unnamed: 0      True
Twitter ID     False
User Name       True
Sex (M/F)       True
SID 1           True
SID 2           True
SID 3           True
SID 4           True
SID 5           True
Unnamed: 9      True
Unnamed: 10     True
0              False
1              False
2              False
3              False
4              False
5              False
TASK           False
dtype: bool

There are a lot nan values in SID 5

In [11]:
accounts['SID 5'].value_counts()

0.0    2841
2.0    1290
4.0    1186
1.0    1107
3.0     338
5.0     122
Name: SID 5, dtype: int64

In [47]:
accounts['SID 1'].unique()

array([ 3.,  2.,  1.,  0.,  5.,  4., nan])

In [48]:
accounts['SID 2'].unique()

array([3, 4, 1, 0, 5, 2, '0', nan, '?'], dtype=object)

In [49]:
accounts['SID 3'].unique()

array([ 1.,  3.,  2.,  0.,  5.,  4., nan])

In [50]:
accounts['SID 4'].unique()

array([1, 3, 4, 0, 5, 2, nan, '?'], dtype=object)

In [51]:
accounts['SID 5'].unique()

array([nan,  0.,  1.,  2.,  3.,  4.,  5.])

In [12]:
accounts['Twitter ID'].nunique()

7414

In [17]:
porcentage_unique_accounts = accounts['Twitter ID'].nunique()/float(accounts.shape[0])
print(f'% of unique accounts: {porcentage_unique_accounts}')

% of unique accounts: 0.9397895804284446

There are repeated accounts.
There are accounts with the symbol '@' in the beggining. Checking if they accounts are repeated if we remove the @

In [19]:
accounts['Twitter ID'] = accounts['Twitter ID'].str.replace('@','')
porcentage_unique_accounts = accounts['Twitter ID'].nunique()/float(accounts.shape[0])
print(f'% of unique accounts: {porcentage_unique_accounts}')

% of unique accounts: 0.8850297883128406

There are more repeated accounts

In [43]:
accounts_records = accounts.groupby(accounts['Twitter ID']).size().reset_index(name='count')
accounts_records = accounts_records[accounts_records['count']>=2].sort_values(by='count', ascending=False)
accounts_records[['Twitter ID', 'count']]

           Twitter ID  count
1647     Giangaetano9      5
3299  Salvato07121946      5
5117       giorgiolga      5
1932  IncazzatoCronic      4
6774          triktra      4
...               ...    ...
2569        Mattew555      2
2578      MauriGiorda      2
2580  MauriziaGaccio3      2
2590       MauroGri64      2
6971        zingonifi      2

[785 rows x 2 columns]

In [45]:
repatead = accounts_records[['Twitter ID', 'count']].shape[0]
print(f'There are {repatead} accounts')

There are 785 accounts

Action : remove the duplicates, get only the first occurrence